*{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
header,nav,aside,article,section,footer{
	display: block;
}
.container{
	width: 1000px;
	margin: 0px auto;
/* 	border: 2px solid black;
 */}
.clear{
	clear: both;
}
.logo{
	height: 100px;
	width: 232px;
	float: left;
}
.nav{
	float: left;
	widows: 786p;
}
.nav ul li{
/* 	display: inline-block;
 */
 float: left;
 padding: 35px 20px;
 }
 .left_s{
 float: left;
 width: 700px;
 }
 .left_s article{
 border: 2px solid red;
 padding: 10px;
 margin: 10px;
 }
 .right_s{
 float: left;
 width: 300px;
 }
 .right_s div{
 border: 2px solid blue;
  margin: 0px 0px 10px 0px;
 padding: 10px;
 }
 .page_f{
 	clear: both;
 	text-align: center;
 }